@import url(https://fonts.googleapis.com/css?family=Lato);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #252a33;
}

html {
  font: 1em/1.5 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: 0;
  color: #747474;
  line-height: 32px;
}

h2 {
  /*    display: block;*/
  font-size: 1.5em;
  /* -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
}
img {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #fff;
  outline: none;
}

.img-wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-name: top-fade;
  animation-fill-mode: both;
}

img {
  width: 200px;
  border-radius: 50%;
}

@keyframes top-fade {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  animation-delay: 0.7s;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-name: top-fade-btn;
  animation-fill-mode: both;
}

.buttons {
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  animation-delay: 0.9s;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-name: top-fade-btn;
  animation-fill-mode: both;
}
@keyframes top-fade-btn {
  from {
    opacity: 0;
    transform: translate(-50%, 0%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 40%);
  }
}

.button {
  margin-top: 3.25%;
  padding: 0 7.5px;
  display: inline-block;
}
.button-wrapp {
  display: block;
  padding: 17px 40px;
  letter-spacing: 2px;
  line-height: 21px;
  font-size: 18px;
  color: #fff;
  background: #ec4858;
  text-transform: uppercase;
  border: 0px solid #ffffff;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s;
}
.r {
  background-color: transparent;
  border: 1px solid #ffffff;
}
.button-wrapp:hover {
  background: #ffffff;
  color: #333;
}

@media (max-width: 900px) {
  .button-wrapp {
    font-size: 16px;
  }
  h2 {
    font-size: 1em;
  }
}
